:root {
  --verde-oscuro: rgba(0, 120, 50, 1);
  --verde-claro: rgba(144, 238, 144, 1);
  --rojo-claro:rgb(255, 228, 228);
  --blanco-neutro: rgba(255, 255, 255, 1);
  --gris-claro-neutro: rgba(211, 211, 211, 1);
  --gris-oscuro-neutro: rgba(122, 122, 122, 1);
  --azul-oscuro:rgb(0, 48, 77, 1);
  --azul-claro: rgba(173, 216, 230, 1);
  --gris-apagado: rgba(169, 169, 169, 1);
  --naranja-sena: rgba(252, 115, 35, 1);
  --emphasis-gray: rgba(224, 224, 224, 1);
  --verde-osc-sena: rgba(35, 130, 118, 1);
  --verde-sena: rgba(57, 169, 0, 1);
  --bg:#F6F6F6;
  --border:rgb(234, 234, 234, 1);
  --success:rgb(233, 248, 221);
  --warning:rgb(255, 246, 216);
  --h1-TITLE-font-family: "Inter", Helvetica;
  --h1-TITLE-font-weight: 700;
  --h1-TITLE-font-size: 28px;
  --h1-TITLE-letter-spacing: 0px;
  --h1-TITLE-line-height: normal;
  --h1-TITLE-font-style: normal;
  --h2-TITLE-font-family: "Roboto", Helvetica;
  --h2-TITLE-font-weight: 800;
  --h2-TITLE-font-size: 20px;
  --h2-TITLE-letter-spacing: 0px;
  --h2-TITLE-line-height: normal;
  --h2-TITLE-font-style: normal;
  --label-font-family: "Public Sans", Helvetica;
  --label-font-weight: 700;
  --label-font-size: 10px;
  --label-letter-spacing: 0px;
  --label-line-height: normal;
  --label-font-style: normal;
  --paragraph-font-family: "Work Sans", Helvetica;
  --paragraph-font-weight: 400;
  --paragraph-font-size: 18px;
  --paragraph-letter-spacing: 0px;
  --paragraph-line-height: normal;
  --paragraph-font-style: normal;
  --notes-font-family: "Roboto", Helvetica;
  --notes-font-weight: 300;
  --notes-font-size: 12px;
  --notes-letter-spacing: 0px;
  --notes-line-height: normal;
  --notes-font-style: italic;
  --h3-subtitle-font-family: "Roboto", Helvetica;
  --h3-subtitle-font-weight: 700;
  --h3-subtitle-font-size: 20px;
  --h3-subtitle-letter-spacing: 0px;
  --h3-subtitle-line-height: normal;
  --h3-subtitle-font-style: normal;
  --inter-regular-font-family: "Inter", Helvetica;
  --inter-regular-font-weight: 400;
  --inter-regular-font-size: 15px;
  --inter-regular-letter-spacing: 0px;
  --inter-regular-line-height: 24.3799991607666px;
  --inter-regular-font-style: normal;
  --inter-regular-upper-font-family: "Inter", Helvetica;
  --inter-regular-upper-font-weight: 400;
  --inter-regular-upper-font-size: 12px;
  --inter-regular-upper-letter-spacing: 0.6000000238418579px;
  --inter-regular-upper-line-height: 16px;
  --inter-regular-upper-font-style: normal;
  --inter-semi-bold-font-family: "Inter", Helvetica;
  --inter-semi-bold-font-weight: 600;
  --inter-semi-bold-font-size: 12px;
  --inter-semi-bold-letter-spacing: 0px;
  --inter-semi-bold-line-height: 16px;
  --inter-semi-bold-font-style: normal;
  --inter-semi-bold-upper-font-family: "Inter", Helvetica;
  --inter-semi-bold-upper-font-weight: 600;
  --inter-semi-bold-upper-font-size: 10px;
  --inter-semi-bold-upper-letter-spacing: 0.5px;
  --inter-semi-bold-upper-line-height: 15px;
  --inter-semi-bold-upper-font-style: normal;
  --inter-medium-font-family: "Inter", Helvetica;
  --inter-medium-font-weight: 500;
  --inter-medium-font-size: 14px;
  --inter-medium-letter-spacing: 0px;
  --inter-medium-line-height: 20px;
  --inter-medium-font-style: normal;
  --inter-italic-font-family: "Inter", Helvetica;
  --inter-italic-font-weight: 400;
  --inter-italic-font-size: 14px;
  --inter-italic-letter-spacing: 0px;
  --inter-italic-line-height: 22.75px;
  --inter-italic-font-style: italic;
  --inter-bold-upper-font-family: "Inter", Helvetica;
  --inter-bold-upper-font-weight: 700;
  --inter-bold-upper-font-size: 10px;
  --inter-bold-upper-letter-spacing: 1px;
  --inter-bold-upper-line-height: 15px;
  --inter-bold-upper-font-style: normal;
  --inter-bold-font-family: "Inter", Helvetica;
  --inter-bold-font-weight: 700;
  --inter-bold-font-size: 15px;
  --inter-bold-letter-spacing: 0px;
  --inter-bold-line-height: 24.3799991607666px;
  --inter-bold-font-style: normal;
  --material-icons-regular-font-family: "Material Icons", Helvetica;
  --material-icons-regular-font-weight: 400;
  --material-icons-regular-font-size: 16px;
  --material-icons-regular-letter-spacing: 0px;
  --material-icons-regular-line-height: 24px;
  --material-icons-regular-font-style: normal;
  --semantic-button-font-family: "Inter", Helvetica;
  --semantic-button-font-weight: 700;
  --semantic-button-font-size: 15px;
  --semantic-button-letter-spacing: 0px;
  --semantic-button-line-height: 22.5px;
  --semantic-button-font-style: normal;
  --semantic-heading-2-font-family: "Inter", Helvetica;
  --semantic-heading-2-font-weight: 500;
  --semantic-heading-2-font-size: 20px;
  --semantic-heading-2-letter-spacing: 0px;
  --semantic-heading-2-line-height: 28px;
  --semantic-heading-2-font-style: normal;
  --semantic-label-upper-font-family: "Inter", Helvetica;
  --semantic-label-upper-font-weight: 600;
  --semantic-label-upper-font-size: 12px;
  --semantic-label-upper-letter-spacing: 0.6000000238418579px;
  --semantic-label-upper-line-height: 16px;
  --semantic-label-upper-font-style: normal;
  --semantic-heading-3-font-family: "Inter", Helvetica;
  --semantic-heading-3-font-weight: 500;
  --semantic-heading-3-font-size: 18px;
  --semantic-heading-3-letter-spacing: 0px;
  --semantic-heading-3-line-height: 28px;
  --semantic-heading-3-font-style: normal;
  --semantic-heading-4-font-family: "Inter", Helvetica;
  --semantic-heading-4-font-weight: 600;
  --semantic-heading-4-font-size: 14px;
  --semantic-heading-4-letter-spacing: 0px;
  --semantic-heading-4-line-height: 20px;
  --semantic-heading-4-font-style: normal;
  --semantic-heading-1-font-family: "Inter", Helvetica;
  --semantic-heading-1-font-weight: 400;
  --semantic-heading-1-font-size: 30px;
  --semantic-heading-1-letter-spacing: 0px;
  --semantic-heading-1-line-height: 36px;
  --semantic-heading-1-font-style: normal;
}